.bookread {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &-page {
    height: 100%;
  }

  &-title {
    padding: 200px 80px 0 80px;
    font-size: 1.56em;
    line-height: 72px;
  }

  &-chapter {
    min-height: 100%;
    padding: 0 40px;
    background: inherit;
    position: relative;

    &-loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 0.82em;
      font-weight: 500;
    }

    &-title {
      padding: 20px 0;
      font-size: 1.3em;
    }

    &-section {
      font-size: 1em;
      text-indent: 2em;
      padding: 10px 0;
    }
  }
}
